*~
/8051/eagle-boards/*.b#*
/8051/eagle-boards/*.pro
/8051/eagle-boards/*.s#*
/8051/eagle-boards/*~renumsch.scr
/8051/fw/*.asm
/8051/fw/*.ihx
/8051/fw/*.lk
/8051/fw/*.lst
/8051/fw/*.map
/8051/fw/*.mem
/8051/fw/*.rel
/8051/fw/*.rst
/8051/fw/*.sym
*.zip
