# SPDX-FileCopyrightText: 2020 The birch-books-smarthome Authors
#
# SPDX-License-Identifier: MIT

*.ihx
*.zip
*~
/.vscode
/8051/*.asm
/8051/*.lk
/8051/*.lst
/8051/*.map
/8051/*.mem
/8051/*.rel
/8051/*.rst
/8051/*.sym
/eagle-boards/**/*.b#*
/eagle-boards/**/*.pro
/eagle-boards/**/*.s#*
/eagle-boards/**/*~renumsch.scr
/venv
